{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Project Details{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Give your Project details</h2>
</div>
<div class="col-md-4 centered">
    {{ wtf.quick_form(form) }}
</div>
<div class="col-md-8 well well-lg">
    <img src="{{ url_for('static', filename = 'project-details.jpg') }}" class="img-responsive" alt="Image">
    <ul>
        <li>We are a team of enthusiast software developers, can help you provide your software solution.</li>
        <li></li>

    </ul>
    <br>
    <br>
    <br>

</div>
{% endblock %}