{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}InterviewReady.com{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
          {{ wtf.quick_form(form) }}

          {% include '_posts.html' %}

          {% if pagination %}
            <div class="pagination">
                 {{ macros.pagination_widget(pagination, '.index') }}
            </div>
          {% endif %}
        </div>

        <!--<div class="col-md-4 sidebar-bg" style="background: #eee;">-->
            <!--<div id="sidebar">-->
                <!--<h1>Learn Python Basics</h1>-->
                    <!--<p>If you are an eager Python and Flask learner, check out my <a> Python and Flask articles here. </a>-->
                        <!--<center><img style="border: 1px solid black;" src="/static/python_flask.png"></a></center>-->
                    <!--</p>-->
                    <!--<h1>About Shri</h1>-->
                    <!--<img style="float: right; margin: 0px 8px 8px 0px; padding: 4px; border: 1px solid #ccc;" src="/static/shree.png">-->
                    <!--<p>Welcome to my blog!</p>-->
                    <!--<p>I'm a software engineer, gardener and nature lover, currently living in Pune, Maharashtra.</p>-->
                    <!--<p>You can also find me on <a href="">Facebook</a>, <a href="">Google+</a>,-->
                        <!--<a href="">LinkedIn</a>, <a href="">Github</a> and <a href="">Twitter</a>.</p>-->
                    <!--<p>Thank you for visiting!</p>-->
                <!--</div>-->
        <!--</div>-->
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

