{% extends "base.html" %}

{% block title %}Licorice Recipes{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8" style="background-color:lavender;">

        <h3> Apple Cinnamon Mini Monkey Breads with Lemon Glaze</h3>
Mini monkey breads might be one of our favorite make-ahead treats. And this version gets an upgrade, thanks to the apples, cranberries, raisins, and lemon zest that get mixed in with the dough.
    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-8</div>
  </div>
</div>

{% endblock %}